<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ct.ertclib.dc.feature.testing">

    <permission android:name="${getFeaturePermissionName}" />

    <application
        android:allowBackup="false"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="false"
        tools:replace="android:supportsRtl,android:allowBackup">
        <activity
            android:name=".LocalTestMiniAppWarehouseActivity"
            android:exported="false" />
        <activity
            android:name=".netdc.ui.activity.DcDialerActivity"
            android:exported="true"
            android:permission="${getFeaturePermissionName}"
            tools:targetApi="29">
            <intent-filter>
                <action android:name="com.ct.ertclib.dc.DIALER_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LocalTestingMainActivity"
            android:exported="true"
            android:permission="${getFeaturePermissionName}">
            <intent-filter>
                <action android:name="com.ct.ertclib.dc.TEST_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LocalTestMiniAppEditActivity"
            android:exported="false" />
        <activity android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="portrait"
            tools:replace="screenOrientation"/>

        <service
            android:name=".TestImsDataChannelService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.newcalllib.datachannel.V1_0.ImsDataChannelService" />
            </intent-filter>
        </service>
        <service
            android:name=".netdc.service.NetImsDataChannelService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.newcalllib.datachannel.V1_0.NetImsDataChannelService" />
            </intent-filter>
        </service>
    </application>

</manifest>